---
// src/pages/index.astro

import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import CustomerFavorite from '../components/CustomerFavorite.astro';
import SpecialDishes from '../components/SpecialDishes.astro';
import Testimonials from '../components/Testimonials.astro';
import OurStory from '../components/OurStory.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
	<Header />
	<main>
		<CustomerFavorite />
		<SpecialDishes />
		<Testimonials />
		<OurStory />
		<Footer />
	</main>
  </BaseLayout>